* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.color {
    background-color:  #fce3eb;
}

.container {
    background-color: var(--container-corvid-background-color,rgba(var(--bg,var(--color_11)),var(--alpha-bg,1)));
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 1px rgba(255, 132, 198, 0.3);
}

.nomeEnfermeira {
    color: #552E92;
    font-size: 6rem;
    font-family: 'Courier New', Courier, monospace; 
}

.especialidadeEnfe {
    color: #A02C4D;
    font-size: 2rem;
    margin-left: 150px;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
}

.animacao {
    padding: 7px 25px 7px 25px;
}

.animacao:hover {
    cursor: pointer;
    background-color: palevioletred;
    border-radius: 1rem;
    -webkit-animation: fadeinout 3s linear forwards infinite;
    animation: fadeinout 4s linear forwards infinite;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }
  
@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }

.terceiraDiv {
    text-align: -webkit-center;
}

.quartaDiv {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-template-columns: 100%;
    background-color: rgb(237, 32, 162)
}

.contentquartaDiv {
    max-width: auto;
    width: auto;
    height: auto;
    margin: 26px 0px 14px 50px;
    letter-spacing: 1px;
    font-size: 2rem;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contentdoisquartaDiv {
    width: 310px;
    height: auto;
    margin: 26px 0px 0px 50px;
    font-size: 22px;
    border-top: 1px solid black;
    font-weight: 400;
    color: #000;
    font-family: 'Allan', cursive;
}

.contentterceiroquartaDiv {
    width: 140px;
    height: auto;
    margin: 26px 0px 0px 50px;
    font-size: 22px;
    border-top: 1px solid black;
    font-weight: 400;
    color: #000;
    margin-bottom: 0.5rem;
    font-family: 'Allan', cursive;
}

p {
    margin-bottom: 0 !important;
}

.quintaDiv {
    position: static;
    display: grid;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-template-columns: 100%;
    background-color: rgb(225, 177, 201);
}

.contentquintaDiv {
    margin: 26px 0px 0px 50px;
    font-size: 68px;
    font-family: 'Montez', cursive;
}

.contentdoisquintaDiv {
    margin: 26px 0px 0px 50px;
    font-size: 68px;
    font-family: 'Montez', cursive;
}

.contenttresquintaDiv {
    margin: 26px 50px 0px 50px;
    font-size: 22px;
    font-family: 'Montez', cursive;
}

.sextaDiv {
    position: static;
    display: flex;
    height: auto;
    width: 100%;
    min-height: auto;
    grid-template-rows: repeat(2, min-content) 1fr;
    grid-template-columns: 100%;
}

.firstcontentsextaDiv {
    margin: 26px 50px 0px 50px;
}

.firstcontentsextaDivTitle {
    width: 50%;
    font-size: 40px;
    letter-spacing: 0.1em;
    font-family: 'Montez', cursive;
    border-bottom: 1px solid black;
}

.firstcontentsextaDivPlace {
    width: auto;
    text-decoration: underline;
    font-size: 25px;
    color: #000;
}

.firstcontentsextaDivAddress {
    width: auto;
    font-size: 18px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.firstcontentsextaDivContact {
    width: auto;
    font-size: 18px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

.firstcontentsextaDivDois {
    margin: 26px 0px 0px 5px;
}

.firstcontentsextaDivTitleContact{
    width: auto;
    font-size: 40px;
    letter-spacing: 0.1em;
    font-family: 'Montez', cursive;
    border-bottom: 1px solid black;
}

.inputMessage {
    background-color: rgb(255, 171, 190);
    color: #A02C4D;
    padding: 5px;
    border-color: #6D3AB0;
    text-overflow: ellipsis;
    width: 100%;
    border-radius: 3px;
}

.botaoEnviar {
    background-color: #A02C4D;
    color: rgb(255, 171, 190);
    border-radius: 0.5rem;
    width: 25%;
    padding: 3px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.footer {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
    min-height: auto;
    background-color: rgb(225,177,201);
    box-shadow:  0 0 5px rgba(0, 0, 0, 0.7);
    box-shadow:  inset 0 4px 6px -4px rgba(255, 255, 255, 0.59), inset 0 1px 0 0 rgba(255, 255, 255, 0.59), inset 0 -5px 5px -5px rgba(255, 255, 255, 0.9);
}

.creator {
    margin: 30px 0px 30px 60px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 300;
    color: #000;
    line-height: 1.2em;
    text-align: center;
}

.socialContact {
    margin: 30px 60px 30px 0px;
}

.icon {
    position: fixed;
    bottom: 65px;
    right: 30px;
    font-size: 30px;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    z-index: 100;
    box-shadow: 2px 2px 2px #c0bdbd;
}

.icon:hover {
    background-color: #fff;
    color: #029e3b;
    font-weight: 900;
    box-shadow: 2px 2px 20px #5fe690;
}

/* Layout da tela Parto Humanizado */

.partoDivum {
    text-align: -webkit-center;
    min-height: 39px;
    height: auto;
    
}

.partoTitle {
    margin-top: 25px;
    font-size: 40px;
    color: #A02C4D;
    width: 75%;
    font-family: 'Montez', cursive;
    letter-spacing: normal;
    line-height: normal;
}

.description {
    font-size: 15px;
    font-style: italic;
    color: #000;
    line-height: 1.6em;
    letter-spacing: normal;
    font-weight: 200;
}

.partoDivdois {
    text-align: center;
    min-height: 39px;
    height: auto;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-left: 85px;
}

.contentLeft {
    text-align: left;
    width: 60%;
}

.firstContentParto {
    width: 90%;
    margin-left: 15%;
}

.secondContentParto {
    width: 90%;
    margin-left: 15%;
}

.contentPartoTitle {
    background-color: #6D3AB0;
    font-size: 28px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    line-height: 1.6em;
    font-family: 'Amatic SC', cursive;
}

ul {
    text-align: left;
    text-align: justify;
    font-size: 16px;
    list-style-type: disc;
    letter-spacing: normal;
    line-height: 1.6rem;
    padding-left: 1.3em;
    padding-right: 0;
    font-weight: 200;
    color: #000;
}

.content {
    text-align: justify;
    text-align: left;
    font-size: 16px;
    letter-spacing: normal;
    line-height: 1.6rem;
    font-weight: 200;
    color: #000;
}

.contentRight {
    text-align: left;
    width: 60%;
}

.contentPartoInfo {
    text-decoration: underline;
    font-size: 28px;
    letter-spacing: 0.05em;
    color: #000;
    line-height: 1.6em;
    font-family: 'Amatic SC', cursive;
}